*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}
.row_poster{
    /*width:100%;*/
    object-fit: contain;
    max-height: 200px;
    margin-right: 10px;
    transition: transform 450ms;
}
.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    justify-content: flex-start;
    padding-top: 10px;
}
.row_poster:hover{
    transform: scale(1.08);
}

.row_poster::-webkit-scrollbar{
    display: none;
}

.row_posterLarge{
    max-height: 250px;
}

.row_posterLarge:hover{
    transform: scale(1.08);
}

.row{
    color: white;
    font-size: 12px;
    margin-left: 20px;
    padding: 20px;
}

.banner{
    background-image: url('images/banner.jpg');
    background-size: cover;
    background-position: center center;
    color: white;
    object-fit: contain;
    height: 448px;
}

.banner_contents{
    margin-left: 30px;
    padding-top: 140px;
    height: 200px;
}

.banner_title{
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_description{
    width: 40rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 400px;
}

.banner_button{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);

}
.banner_button:hover{
    color:black;
    background-color: white;
    transition: all 0.2s;
}

.banner_fadeBottom{
    margin-top: 147px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37,0.61), #111);
}

.nav_logo{
    width: 80px;
    object-fit: contain;
}

.nav_avatar{
    width: 30px;
    object-fit: contain;
}
.search_logo{
    width: 25px;
    object-fit: contain;
}
.notification_logo{
    width: 25px;
    object-fit: contain;
}

.nav{
    position: fixed;
    top: 0;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav_black{
    background-color:#111;

}
.left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.right{
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: flex-end;
}

.left ul{
    list-style-type: none;
    font-size: 15px;
    color: #E5E7EB;
    display: flex;
    gap: 15px;
    justify-content: flex-start;
}

.footer{
    display:flex;
    flex-direction: column;
    margin: 10px 200px;
    margin-top: 100px;
    padding:10px;

}

.socialmedia_logo{
    width: 25px;
    object-fit: contain;
    margin-right: 20px;
}
.info{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;

}

.info ul{
    object-fit: contain;
    list-style-type: none;
    font-size: 12px;
    color: gray;
    display: flex;
    flex-direction: column;
}
li{
    padding: 5px;
}
.copy{
    font-size: 12px;
    color: gray;
}